@mixin flex($direction: row, $align: normal, $justify: flex-start) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

@mixin devices($breakpoint) {
    @media only screen and (max-width: $breakpoint) {
        @content;
    }
}
