@use 'sass:math';
@import './animations';

nav {
    @include flex($align: center, $justify: space-between);
    width: 100%;
    height: 10vh;
    margin: 2rem 0;
}

.navLinks{
    @include flex;
    list-style: none;

    li{    
        @include flex($align: center);  
        margin-right: 1rem;
        gap: 1rem;

        &:last-child{
            margin-right: 0;
        }

        &::before{
            display: block;
            content: "";
            width: $navLink-point;
            height: $navLink-point;
            background: $orange;
            border-radius: 50%;
        }
    }
}

.navActions{
    $iconSpace: 1.5rem;

    @include flex;
    gap: $iconSpace;

    img {
        padding-right: $iconSpace;
        border-right: solid 1px darken($white, 50%);
    }

    .navToggle{
        @include flex($align: center);
        z-index: $nav-zindex + 1;
        background-color: transparent;
        border: none;
        gap: 1rem;
        cursor: pointer;
        
        span{
            color: $white;
            text-transform: uppercase;
        }

        .navIcon {
            @include flex(column);
            gap: .25rem;
            width: 28px;

            .navIcon__bar{
                width: 100%;
                height: 3px;
                background: $white;
                transition: all 500ms;
            }
        }
    }
}

body[data-nav="false"] .navIcon__bar{
    &.navIcon__bar-short{
        width: 60% !important;
    }
}

body[data-nav="true"] .navIcon__bar{
    transform: rotateZ(45deg) translate(.125rem, 0);

    &.navIcon__bar-short{
        width: 100% !important;
        transform: rotateZ(-45deg) translate(.25rem, -.25rem);

    }
}


.navMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: lighten($orange, 5%);
    z-index: $nav-zindex;
    @include flex($align: end);
    transition: 500ms;
    transform: translateY(-100%);

    ul{
        @include flex($direction: column);
        width: 100%;
        height: 80%;
        list-style: none;

        $list-elems: 4;
        li{
            width: 100%;
            padding: 0 2%;
            height: math.div(100%, $list-elems);
            border-top: solid 1px;
            color: $black;
            font-size: clamp(2rem, 16vh, 12rem);
            line-height: 1;
            position: relative;
            overflow: hidden;
            text-transform: uppercase;
            
            a{
                @include flex($align: center) ;
                width: 100%;
                height: 100%;
            }

            &:nth-child(even){
                a{
                    justify-content: end;
                }   
            }

            .nav__marqee{
                position: absolute;
                top: 0;
                left: 0;
                overflow: hidden;
                width: 100%;
                height: 100%;
                pointer-events: none;
                background: $black;
                transform: translate3d(0, 101%, 0);

                .nav__marqee-inner-wrap{
                    height: 100%;
                    width: 100%;
                    transform: translate3d(0, -101%, 0);
                }

                .nav__marqee-inner{
                        height: 100%;
                        width: fit-content;
                        align-items: center;
                        display: flex;
                        position: relative;
                        animation: nav-marqee 15s linear infinite;
                        will-change: transform;

                        span{
                            white-space: nowrap;
                            font-size: clamp(2rem, 16vh, 12rem);
                            text-align: center;
                            color: $white;
                        }

                        .nav__marqee-img{
                            width: 15vw;
                            height: 70%;
                            margin: 0 2vw;
                            border-radius: 5vw;
                            background-size: cover;
                            background-position: 50% 50%;
                        }
                }
            }
        }   
    }

}


