// colors
$black: #000000;
$white: #ffffff;
$off-white: #c8c8c8;
$orange: #ff7e21;
$gray: #7e7e7e;
$dark-gray: #212121;

// key values
$navLink-point: 5px;
$nav-zindex: 3;

// screen sizes
$xxs: 280px;
$xs: 440px;
$sm: 640px;
$md: 768px;
$lg: 992px;
$xl: 1320px;
