@import "./partials/mixins";
@import "./partials/variables";
@import "./partials/base";
@import "./partials/nav";

body {
    background: $black;
    color: $white;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

@media screen and (min-width: 1000px) and (max-height: 600px) {
    body {
        min-height: 900px;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

.container {
    @include flex($direction: column);
    width: 90%;
    height: 85%;
    margin: auto;
}

main {
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 20vh;
    @include flex($align: center, $justify: start);

    @include devices($sm) {
        padding-bottom: 10vh;
    }

    .gleamy-btn {
        position: absolute;
        top: 0;
        left: 0;

        @include devices($md) {
            width: 92px;
            height: 92px;
        }

        @include devices($md) {
            width: 64px;
            height: 64px;
        }
    }

    .watch-btn {
        position: absolute;
        bottom: 5vh;
        right: 0;
        @include devices($md) {
            width: 92px;
            height: 92px;
        }

        @include devices($md) {
            width: 64px;
            height: 64px;
        }
    }

    .banner-tag {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        @include devices($md) {
            display: none;
        }
    }
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(30%);
    font-size: clamp(400px, 25vw, 25vw);
    line-height: 1;
    -webkit-text-stroke: 1px darken($white, 75%);
    color: transparent;
    z-index: -1;

    @include devices($lg) {
        top: calc(50% - 20vh);
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @include devices($sm) {
        font-size: clamp(300px, 20vw, 300px);
        top: calc(50% - 10vh);
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.banner {
    margin-left: 8%;
    font-size: 5.5rem;
    font-weight: 400;
    width: 19ch;

    @include devices($xl) {
        font-size: 5rem;
    }

    @include devices($lg) {
        font-size: 4rem;
    }

    @include devices($md) {
        font-size: 3rem;
        margin-left: 0;
        margin-top: 2rem;
    }

    @include devices($sm) {
        font-size: 2.5rem;
        margin-left: 0;
        margin-top: 2rem;
    }

    span {
        color: darken($white, 50%);
    }
}

// Marqee styling starts here

.marqee {
    position: absolute;
    bottom: 0%;
    min-width: 200vw;
    width: max-content;
    transform: rotateZ(-15deg) translateX(-2%);
    transform-origin: 0% 0%;
    padding: 1rem 0;
    background: $dark-gray;
    color: $white;
    z-index: -1;

    &.marqee-light {
        z-index: -2;
        transform: rotateZ(50deg);
        left: 65%;
        bottom: 100%;
        background: $white;
        color: $black;

        @include devices($md) {
            display: none !important;
        }
    }

    @include devices($md) {
        padding: 8px 0;
    }

    @include devices($md) {
        padding: 8px 0;
        transform: rotateZ(-25deg) translateX(-2%);
    }

    ul {
        $space: 2rem;
        width: 100%;
        @include flex($align: center, $justify: space-between);
        gap: $space;
        list-style: none;
        animation: marqee 15s linear infinite;

        li {
            @include flex($align: center, $justify: center);
            gap: $space;
            white-space: nowrap;
            font-size: 1.5rem;
            text-transform: uppercase;

            @include devices($sm) {
                font-size: 14px;
            }

            &::before {
                display: inline-block;
                content: "";
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background: $orange;

                @include devices($sm) {
                    width: 8px;
                    height: 8px;
                }
            }
        }
    }
}

body[data-namespace="home"] .marqee {
    display: block;
}

body:not([data-namespace="home"]) .marqee {
    display: none;
}
// Marqee styling ends here

// preloader/transition styling starts here
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $black;
    z-index: $nav-zindex + 2;

    @include flex($align: center, $justify: center);

    span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -75%);
        font-size: clamp(400px, 25vw, 450px);
        line-height: 1;
        z-index: -1;
        -webkit-text-stroke: 1px darken($white, 75%);
        color: transparent;

        @include devices($sm) {
            font-size: clamp(300px, 20vw, 300px);
        }
    }
}
// preloader/transition styling ends here
